@model BizLookupMvc.Models.Business

<form action="/businesses/create" method="post">
  <label for="name">Business Name</label>
  <input id="name" name="name" type="text">
  <label for="industry">Business Industry</label>
  <input id="industry" name="industry" type="text">
  <label for="hours">Business Hours</label>
  <input id="hours" name="hours" type="text">
  <label for="address">Business Address</label>
  <input id="address" name="address" type="text">
  <button type="submit">Go!</button>
</form>

@*
<h4>Add a Business</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Industry)
  @Html.TextBoxFor(model => model.Industry)

  <input type="submit" value="Add a new Business Listing" />
}

<p>@Html.ActionLink("Show all Business Listings", "Index")</p>
*@





