@{
    ViewData["Title"] = "Home Page";
}

@using BizLookupMvc.Models

<h1>All Businesses:</h1>

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Industry</th>
                <th>Hours</th>
                <th>Address</th>
                <th>Website</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Business business in Model)
            {
                <tr>
                    <td>@business.BusinessId</td>
                    <td>@business.Name</td>
                    <td>@business.Industry</td>
                    <td>@business.Hours</td>
                    <td>@business.Address</td>
                    <td><a href="@business.URL"><p>@business.URL</p></a></td>
                    <td><a href="tel:@business.Phone"><p>@business.Phone</p></a></td>
                    <td><a class="btn btn-success" href="/Businesses/Details/@(business.BusinessId)"><p>View Details</p></a></td>
                </tr>
            }
        </tbody>
    </table>

<h1>New Business:</h1>

<form action="/businesses/index" method="post">
  <label for="name">Business Name</label>
  <input id="name" name="name" type="text">
<br>
  <label for="industry">Business Industry</label>
  <input id="industry" name="industry" type="text">
<br>
  <label for="hours">Business Hours</label>
  <input id="hours" name="hours" type="text">
<br>
  <label for="address">Business Address</label>
  <input id="address" name="address" type="text">
<br>
  <button type="submit">Go!</button>
</form>