  @{
    ViewData["Title"] = "Home Page";
}

<h1>All Businesses:</h1>

<ol>
@foreach (Business business in Model)
{
    <ul>
        <li>ID: @business.BusinessId</li>
        <li>Name: @business.Name</li>
        <li>Hours: @business.Hours</li>
        <li>Industry: @business.Industry</li>
        <li>Address: @business.Address</li>
    </ul>
    <br>
}
</ol>